# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.env
.venv
venv/
ENV/

# Streamlit
.streamlit/

# Logs y temporales
*.log
*.tmp
*.bak
cache/

# Configuración del sistema
.DS_Store
Thumbs.db
